
/*
===nigran style===
*/
#ossvn-wrapper #wct-woo-template .ll-skin-nigran {
  font-size: 90%;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-widget {
  font-family: "Helvetica Neue", "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
  background: #29a2d9;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 1px 3px #252525;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker {
  padding: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker-header {
  border: none;
  border-bottom: 1px solid #2d97cb;
  background: transparent;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-title {
  margin-top: 5px;
  margin-bottom: 5px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-title span{color: #fff}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover,
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover,
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-next,
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
  top: 9px;
  border: none;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-next span,
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
  background-image: url(images/ui-icons_ffffff_256x240.png);
  background-position: -32px -32px;
  margin-top: 0;
  top: 0;
  font-weight: normal;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
  background-position: -96px -32px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover span {
  background-position: -96px -48px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover span {
  background-position: -32px -48px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker table {
  margin: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker th {
  padding: 5px 0;
  color: #9fd9f1;
  font-size: 8px;
  font-weight: normal;
  text-shadow: 0 0 2px #45c4f8;
  text-transform: uppercase;
  border: none;
  border-top: 1px solid #3fabdc;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker th span{color: #9fd9f1}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran .ui-datepicker td {
  border: none;
  padding: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: 6px 0;
  margin: 0;
  font-weight: normal;
  color: #efefef;
  font-size: 12px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-nigran td .ui-state-active,
#ossvn-wrapper #wct-woo-template .ll-skin-nigran td .ui-state-hover {
  background: #1b7fb0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/*
===cangas style===
*/

#ossvn-wrapper #wct-woo-template .ll-skin-cangas {
  font-size: 90%;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-widget {
  font-family: "Helvetica Neue", "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
  background: #f0f4f7;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker {
  padding: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker-header {
  border: none;
  background-color: #a3d143;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.14);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.14);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.14);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjI3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjI3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%);
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker-header .ui-state-hover {
  background: #8dc532;
  border-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker .ui-datepicker-next span,
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker .ui-datepicker-prev span {
  background-image: url(images/ui-icons_ffffff_256x240.png);
  background-position: -32px -16px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker .ui-datepicker-prev span {
  background-position: -96px -16px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker table {
  margin: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker th {
  color: #6c7173;
  font-size: 9px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  font-weight: normal;
  border: none;
  border-top: 1px solid rgba(186, 194, 200, 0.6);
  border-bottom: 1px solid rgba(186, 194, 200, 0.6);
  background-color: #e6ebf0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.38);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.38);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.38);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzVjNSIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNjOWM1YzUiIHN0b3Atb3BhY2l0eT0iMC4zMyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4zMyIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0%, rgba(201, 198, 198, 0.33) 0.76%, rgba(255, 255, 255, 0.33) 100%);
  background-image: -o-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0%, rgba(201, 198, 198, 0.33) 0.76%, rgba(255, 255, 255, 0.33) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0%, rgba(201, 198, 198, 0.33) 0.76%, rgba(255, 255, 255, 0.33) 100%);
  background-image: linear-gradient(bottom, rgba(201, 198, 198, 0.33) 0%, rgba(201, 198, 198, 0.33) 0.76%, rgba(255, 255, 255, 0.33) 100%);
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker td {
  border: none;
  border-top: 1px solid #e7e9ea;
  border-right: 1px solid #e7e9ea;
  padding: 0;
  background: #eee;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker tr:first-child td {
  border-top: none;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas .ui-datepicker td:last-child {
  border-right: none;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas td .ui-state-default {
  border: 1px solid transparent;
  text-align: center;
  padding: .7em 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  background: #f5f8fa;
  color: #6c7173;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55);
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas td.ui-state-disabled .ui-state-default {
  text-shadow: none;
  opacity: .8;
  color: #6c7173;
}
#ossvn-wrapper #wct-woo-template .ll-skin-cangas td .ui-state-active,
#ossvn-wrapper #wct-woo-template .ll-skin-cangas td .ui-state-hover {
  border: 1px solid rgba(121, 188, 27, 0.68);
  background: #a3d143;
  color: #fff;
  text-shadow: 0 -1px 0 #30332a;
}

/*
===latoja style===
*/

#ossvn-wrapper #wct-woo-template .ll-skin-latoja{font-size:90%}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-widget{font-family:"Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;background:#fff}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker-header{border:none;font-size:80%;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#e0e8ec;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.53),inset 0 -1px 0 rgba(0,0,0,0.12);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.53),inset 0 -1px 0 rgba(0,0,0,0.12);box-shadow:0 1px 0 rgba(255,255,255,0.53),inset 0 -1px 0 rgba(0,0,0,0.12);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.21) 0%,rgba(255,255,255,0.21) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.21) 0%,rgba(255,255,255,0.21) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.21) 0%,rgba(255,255,255,0.21) 100%);background-image:linear-gradient(bottom,rgba(0,0,0,0.21) 0%,rgba(255,255,255,0.21) 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker-title{color:#515d65;font-size:13px;font-weight:700;text-shadow:0 1px 1px rgba(255,255,255,0.8)}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-icon-circle-triangle-e{background-image:url(images/ui-icons_454545_256x240.png);background-position:-32px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-icon-circle-triangle-w{background-image:url(images/ui-icons_454545_256x240.png);background-position:-96px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker .ui-datepicker-prev,#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker .ui-datepicker-next{border-color:transparent}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-state-default{background:transparent;border:none;color:#2b2b2b;font-family:"Myriad Pro";font-weight:400;text-align:center}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker-header .ui-state-hover{background:#bdc5c9}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker table{margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker th{color:#9da7af;font-size:12px;font-weight:400;-moz-border-radius:216px 0 0 NaN 0 0 0;-webkit-border-radius:216px 0 0 NaN 0 0 0;border-radius:216px 0 0 NaN 0 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:rgba(0,0,0,0.08)}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker td{border-top:1px solid #ddd;border-right:1px solid #ddd;padding:0;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.06) 0%,rgba(255,255,255,0.06) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.06) 0%,rgba(255,255,255,0.06) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.06) 0%,rgba(255,255,255,0.06) 100%);background-image:linear-gradient(bottom,rgba(0,0,0,0.06) 0%,rgba(255,255,255,0.06) 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker td:last-child{border-right:none}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker td span,#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker td a{padding:.7em 0;color:#6a747a;font-size:12px;font-weight:700;font-family:Arial}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja .ui-datepicker-calendar .ui-state-hover{background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0.06) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0.06) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0.06) 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-latoja td a.ui-state-active,#ossvn-wrapper #wct-woo-template .ll-skin-latoja td a.ui-state-active.ui-state-hover{color:#fff;background-color:#8ab8ed;text-shadow:0 1px 0 rgba(0,0,0,0.26);-moz-box-shadow:inset 0 4px 9px rgba(0,0,0,0.24);-webkit-box-shadow:inset 0 4px 9px rgba(0,0,0,0.24);box-shadow:inset 0 4px 9px rgba(0,0,0,0.24)}

/*
===lugo style===
*/

#ossvn-wrapper #wct-woo-template .ll-skin-lugo{font-size:90%}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-widget{font-family:"Helvetica","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;background:#1c1c1c;border:none;border-radius:0;-moz-box-shadow:0 0 3px #292c32;-webkit-box-shadow:0 0 3px #292c32;box-shadow:0 0 3px #292c32}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker-header{margin-top:5px;font-size:80%;border:none;border-top:1px solid #000;border-bottom:1px solid #000;background:#333;color:#fff;font-size:14px;font-weight:700;text-shadow:0 1px 2px rgba(0,0,0,0.7);border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;-moz-box-shadow:inset 0 0 3px rgba(255,255,255,0.1);-webkit-box-shadow:inset 0 0 3px rgba(255,255,255,0.1);box-shadow:inset 0 0 3px rgba(255,255,255,0.1)}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker-header .ui-state-hover{background:transparent;border-color:transparent;cursor:pointer}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker .ui-datepicker-next span{background-image:url(images/ui-icons_ffffff_256x240.png);background-position:-32px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker .ui-datepicker-prev span{background-image:url(images/ui-icons_ffffff_256x240.png);background-position:-96px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker table{margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker th{color:#b7b7b7;font-size:9px;text-transform:uppercase}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker td{border-top:1px solid #2c2c2c;border-right:1px solid #2c2c2c;padding:0;background:#eee}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo .ui-datepicker td:last-child{border-right:none}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo td .ui-state-default{border:none;text-align:center;padding:.7em 0;margin:0;font-size:12px;font-weight:700;color:#e7e7e7;text-shadow:0 1px 2px #000;background-color:#373737;-moz-box-shadow:inset 0 0 3px rgba(255,255,255,0.2);-webkit-box-shadow:inset 0 0 3px rgba(255,255,255,0.2);box-shadow:inset 0 0 3px rgba(255,255,255,0.2);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,#373737 0%,#424242 100%);background-image:-o-linear-gradient(bottom,#373737 0%,#424242 100%);background-image:-webkit-linear-gradient(bottom,#373737 0%,#424242 100%);background-image:linear-gradient(bottom,#373737 0%,#424242 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo td.ui-state-disabled .ui-state-default{background:#666;color:#ccc;text-shadow:none}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo td .ui-state-hover{background-color:#373737;-moz-box-shadow:inset 0 0 4px rgba(0,0,0,0.7);-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.2);box-shadow:inset 0 0 4px rgba(0,0,0,0.2);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,#424242 0%,#373737 100%);background-image:-o-linear-gradient(bottom,#424242 0%,#373737 100%);background-image:-webkit-linear-gradient(bottom,#424242 0%,#373737 100%);background-image:linear-gradient(bottom,#424242 0%,#373737 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-lugo td .ui-state-active{background:#3f6b8a;-moz-box-shadow:inset 0 0 5px rgba(7,15,21,0.9);-webkit-box-shadow:inset 0 0 5px rgba(7,15,21,0.9);box-shadow:inset 0 0 5px rgba(7,15,21,0.9)}

/*
===melon style===
*/

#ossvn-wrapper #wct-woo-template .ll-skin-melon{font-size:90%}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-widget{font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;background:#2e3641;border:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker-header{border:none;background:transparent;font-weight:400;font-size:15px}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker-header .ui-state-hover{background:transparent;border-color:transparent;cursor:pointer;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-title{margin-top:.4em;margin-bottom:.3em;color:#e9f0f4}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover,#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-next-hover,#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-next,#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-prev{top:.9em;border:none}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover{left:2px}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-next-hover{right:2px}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-next span,#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-prev span{background-image:url(images/ui-icons_ffffff_256x240.png);background-position:-32px 0;margin-top:0;top:0;font-weight:400}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker .ui-datepicker-prev span{background-position:-96px 0}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker table{margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker th{padding:1em 0;color:#ccc;font-size:13px;font-weight:400;border:none;border-top:1px solid #3a414d}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-datepicker td{background:#f97e76;border:none;padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-melon td .ui-state-default{background:transparent;border:none;text-align:center;padding:.5em;margin:0;font-weight:400;color:#efefef;font-size:16px}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-state-disabled{opacity:1}
#ossvn-wrapper #wct-woo-template .ll-skin-melon .ui-state-disabled .ui-state-default{color:#fba49e}
#ossvn-wrapper #wct-woo-template .ll-skin-melon td .ui-state-active,#ossvn-wrapper #wct-woo-template .ll-skin-melon td .ui-state-hover{background:#2e3641}

/*
===santiago style===
*/


#ossvn-wrapper #wct-woo-template .ll-skin-santiago{font-size:90%}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-widget{font-family:Helvetica Trebuchet MS,Tahoma,Verdana,Arial,sans-serif}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-widget-content{border:none;background:#fff;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.19);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.19);box-shadow:0 1px 3px rgba(0,0,0,0.19)}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker-header{font-family:"Myriad Pro",sans-serif;color:#fff;padding:0;border-top:1px solid #b42b0c;border-bottom:none;overflow:hidden;text-transform:uppercase;text-shadow:0 -1px 0 rgba(0,0,0,0.35);border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,#b32b0b 0%,#cd300c 100%);background-image:-o-linear-gradient(bottom,#b32b0b 0%,#cd300c 100%);background-image:-webkit-linear-gradient(bottom,#b32b0b 0%,#cd300c 100%);background-image:linear-gradient(bottom,#b32b0b 0%,#cd300c 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker-header .ui-state-hover{background:transparent;border-color:transparent;cursor:pointer}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-title{line-height:2.2em;font-weight:400}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-prev,#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-next{top:-1px;background:#d33e13;border-radius:0;font-weight:400;border:none;height:2.2em;width:1.4em}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-prev.ui-state-hover,#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-next.ui-state-hover{background:#ba2c0c}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-prev{left:0;border-right:1px solid #a6280b}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-next{right:0;border-left:1px solid #a6280b}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-prev span,#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker .ui-datepicker-next span{margin-top:-4px;top:40%}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-icon-circle-triangle-e{background-image:url(images/ui-icons_ffffff_256x240.png);background-position:-32px 0}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-icon-circle-triangle-w{background-image:url(images/ui-icons_ffffff_256x240.png);background-position:-96px 0}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker table{margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker th{padding:.6em 0 .4em;text-transform:uppercase;color:#bbb;font-family:"Myriad Pro";font-weight:400;font-size:.8em;border-top:1px solid #e6e6e6}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker td{border:none;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago td:last-child{border-right:0}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago td .ui-state-default{background:transparent;border:none;color:#2b2b2b;margin:0;font-family:"Myriad Pro",sans-serif;font-weight:400;text-align:center}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago .ui-datepicker-calendar .ui-state-hover{background:#ededed;color:#b2b2b2}
#ossvn-wrapper #wct-woo-template .ll-skin-santiago td a.ui-state-active,#ossvn-wrapper #wct-woo-template .ll-skin-santiago td a.ui-state-active.ui-state-hover{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.45);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,#b32b0b 0%,#cd300c 100%);background-image:-o-linear-gradient(bottom,#b32b0b 0%,#cd300c 100%);background-image:-webkit-linear-gradient(bottom,#b32b0b 0%,#cd300c 100%);background-image:linear-gradient(bottom,#b32b0b 0%,#cd300c 100%)}


/*
===siena style===
*/

#ossvn-wrapper #wct-woo-template .ll-skin-siena{font-size:90%}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-widget{font-family:Helvetica Trebuchet MS,Tahoma,Verdana,Arial,sans-serif}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-widget-content{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color1:#ede9e3;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.4),inset 0 1px 0 rgba(255,255,255,0.85);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4),inset 0 1px 0 rgba(255,255,255,0.85);box-shadow:0 1px 3px rgba(0,0,0,0.4),inset 0 1px 0 rgba(255,255,255,0.85);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI4MSAyMjEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjgxIiBoZWlnaHQ9IjIyMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(top,#f5f3f0 0%,#e5e1d8 100%);background-image:-o-linear-gradient(top,#f5f3f0 0%,#e5e1d8 100%);background-image:-webkit-linear-gradient(top,#f5f3f0 0%,#e5e1d8 100%);background-image:linear-gradient(top,#f5f3f0 0%,#e5e1d8 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-state-disabled{opacity:1}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-widget-header{color:#653d84;background:transparent;border:none;text-transform:uppercase;font-size:.9em;box-shadow:0 1px 0 #ddcda8,0 2px 0 #fff}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker table{font-size:.8em;margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker td{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker th,#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker td{box-shadow:0 1px 0 #ddcda8,0 2px 0 #fff;border-right:1px solid #cfc8bc}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker th:last-child,#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker td:last-child{border-right:none}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker table{margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker th{color:#cfc8bc;text-transform:uppercase;font-size:.8em;font-weight:400}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker td{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker tr:last-child td{box-shadow:none}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-state-default{background:transparent;border:none;color:#ab9f8d;font-weight:400}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-state-disabled .ui-state-default{color:#cfc7bb;text-align:center}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker table a{padding:.5em .6em;text-align:center;text-shadow:0 1px 0 #fff;border:1px solid transparent;border-bottom:none}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-datepicker-header .ui-state-hover{background:transparent;border-color:transparent;cursor:pointer}
#ossvn-wrapper #wct-woo-template .ll-skin-siena td a.ui-state-hover,#ossvn-wrapper #wct-woo-template .ll-skin-siena td a.ui-state-active{border:1px solid #999e00;border-bottom:none;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.21);background-color:#bec110;-moz-box-shadow:0 1px 0 #ffffff,inset 0 1px 0 rgba(255,255,255,0.42);-webkit-box-shadow:0 1px 0 #ffffff,inset 0 1px 0 rgba(255,255,255,0.42);box-shadow:0 1px 0 #ffffff,inset 0 1px 0 rgba(255,255,255,0.42);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.45) 0%,rgba(255,255,255,0.45) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.45) 0%,rgba(255,255,255,0.45) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%);background-image:linear-gradient(bottom,rgba(0,0,0,0.45) 0%,rgba(255,255,255,0.45) 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-icon-circle-triangle-e{background-image:url(images/ui-icons_222222_256x240.png);background-position:-32px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-siena .ui-icon-circle-triangle-w{background-image:url(images/ui-icons_222222_256x240.png);background-position:-96px -16px}


/*
===vigo style===
*/
#ossvn-wrapper #wct-woo-template .ll-skin-vigo{font-size:90%}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-widget{font-family:"DroidSans",sans-serif;background:#f8f8f8}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker{padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker-header{padding:.3em 0;color:#fff;font-family:"DroidSans",sans-serif;font-size:13px;text-shadow:0 -1px 0 rgba(0,0,0,0.8);border:none;border-radius:0;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#b73c37;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.25) 0%,rgba(255,255,255,0.25) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.25) 0%,rgba(255,255,255,0.25) 100%);background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.25) 0%,rgba(255,255,255,0.25) 100%);background-image:linear-gradient(bottom,rgba(0,0,0,0.25) 0%,rgba(255,255,255,0.25) 100%)}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker-header .ui-state-hover{background:transparent;border-color:transparent;cursor:pointer;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker .ui-datepicker-next span,#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker .ui-datepicker-prev span{background-image:url(images/ui-icons_ffffff_256x240.png);background-position:-32px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker .ui-datepicker-prev span{background-position:-96px -16px}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker table{margin:0}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker th{padding:.5em .3em;color:#707586;font-size:10px;font-weight:700;text-shadow:0 1px 0 rgba(255,255,255,0.75);text-transform:uppercase;border:none;border-bottom:1px solid #d5d9e2;background:#f2f6fe}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo .ui-datepicker td{border:none;padding:0}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo td .ui-state-default{background:transparent;border:none;text-align:center;padding:.7em 0;margin:0;font-weight:400;color:#4d4d4d;font-size:11px}
#ossvn-wrapper #wct-woo-template .ll-skin-vigo td .ui-state-active,#ossvn-wrapper #wct-woo-template .ll-skin-vigo td .ui-state-hover{font-weight:700}

/*
===dosis style===
*/
#ossvn-wrapper #wct-woo-template .ll-skin-dosis {
  font-size: 90%;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-widget {
  font-family: 'Dosis', sans-serif;
  background: #29323f;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 1px 3px #252525;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker {
  padding: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker-header {
  border: none;
  border-bottom: 1px solid #FCEE6D;
  background: transparent;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-title {
  margin-top: 5px;
  margin-bottom: 5px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-title span{color: #FCEE6D;}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-prev-hover,
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-next-hover,
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-next,
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-prev {
  top: 9px;
  border: none;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-next span,
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-prev span {
  background-image: url(images/ui-icons_ffffff_256x240.png);
  background-position: -32px -32px;
  margin-top: 0;
  top: 0;
  font-weight: normal;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-prev span {
  background-position: -96px -32px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-prev-hover span {
  background-position: -96px -48px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-next-hover span {
  background-position: -32px -48px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker table {
  margin: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker th {
  padding: 5px 0;
  color: #fff;
  font-size: 8px;
  font-weight: normal;
  text-shadow: 0 0 2px #45c4f8;
  text-transform: uppercase;
  border: none;
  border-top: 1px solid #FCEE6D;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker th span{color: #fff}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker td {
  border: none;
  padding: 0;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker-calendar td {
  width: 25px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: 6px 0;
  margin: 0;
  font-weight: normal;
  color: #fff;
  font-size: 12px;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis td .ui-state-active,
#ossvn-wrapper #wct-woo-template .ll-skin-dosis td .ui-state-hover {
  background: #FCEE6D;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #29323F;
}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker-buttonpane{border-color: #FCEE6D !important;}
#ossvn-wrapper #wct-woo-template .ll-skin-dosis .ui-datepicker .ui-datepicker-buttonpane button {
    background: #FCEE6D !important;color: #29323F !important;
    border-color: #FCEE6D !important;
    font-family: 'Dosis', sans-serif !important;
}


/**
* Time addon
*/
#ossvn-wrapper #wct-woo-template .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div dl { text-align: left; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; color: #fff;}
#ossvn-wrapper #wct-woo-template .ui-timepicker-div dl dd { margin: 0 10px 10px 40%; color: #fff;}
#ossvn-wrapper #wct-woo-template .ui-timepicker-div td { font-size: 90%; }
#ossvn-wrapper #wct-woo-template .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl{ direction: rtl; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl dl dt{ float: right; clear: right; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd, 
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

#ossvn-wrapper #wct-woo-template .ui-timepicker-select.ui-state-default {
    width: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*addon time*/
#ossvn-wrapper #wct-woo-template .ui_tpicker_time, #ossvn-wrapper #wct-woo-template .ui_tpicker_time_label, #ossvn-wrapper #wct-woo-template .ui_tpicker_hour_label, #ossvn-wrapper #wct-woo-template .ui_tpicker_minute_label{color: #fff!important;}
#ossvn-wrapper #wct-woo-template .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div dl { text-align: left; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; color: #fff;}
#ossvn-wrapper #wct-woo-template .ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div td { font-size: 90%; }
#ossvn-wrapper #wct-woo-template .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl{ direction: rtl; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl dl dt{ float: right; clear: right; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd, 
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
#ossvn-wrapper #wct-woo-template .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }